[Service]
LimitNOFILE={{ systemd.splunk.limit_nofile }}
LimitNPROC={{ systemd.splunk.limit_nproc }}
LimitFSIZE={{ systemd.splunk.limit_fsize }}
LimitDATA={{ systemd.splunk.limit_data }}
LimitCORE={{ systemd.splunk.limit_core }}
TasksMax={{ systemd.splunk.tasks_max }}
